body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #d6336c; /* Rosa oscuro */
}

.form-container {
  display: flex;
  flex-direction: column;
}

input[type='text'] {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  color: #333; /* Color del texto en el input */
}

input::placeholder {
  color: #ffb6c1; /* Rosa clarito para el texto del placeholder */
}

button {
  background-color: #ffb6c1; /* Rosa claro */
  border: none;
  border-radius: 6px;
  color: #d6336c; /* Rosa oscuro para el texto del botón */
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

button:hover {
  background-color: #ff8c8c; /* Rosa más oscuro */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}

button:active {
  background-color: #ff6f6f; /* Rosa oscuro al presionar */
  transform: translateY(2px); /* Efecto de presionar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra reducida al presionar */
}

.error-message {
  color: #d9534f;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.Card {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.Card h2 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.Card p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}